html{
  font-family: "Poppins";
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #FFDA78;
}

h1 {
  margin: 30px;
  text-shadow: 7px 0 #FF7F3E;
  font-size: 8rem;
  color:#003285;
}

p {
  font-size: 2rem;
  color:#003285;
  font-weight: 700;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #003285;
  text-align: center;
  font-weight: 700;

}

.btn{
  font-size:2rem;
  border-radius: 20px;
  padding:20px;
  font-weight: 700;
  border:none;
  background-color:#003285 ;
  color:white;

}
.buttons{
  margin-top:5%;
}

.btn:hover{
  color:black;
  background-color: aliceblue;
  cursor:pointer;
  border:black solid 2px;
}
